*/DS_Store
*/.DS_Store
*/.auctex-auto
*/.Rhistory
/.DS_Store
*.gz
*.xml
*.log
*.out
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
01-code-LLM-experiments/Untitled.Rmd
01-code-LLM-experiments/__pycache__/*